<?xml version="1.0" encoding="UTF-8"?>
<acl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/Framework/Api/Acl/acl.xsd">

    <privileges>
        <privilege>topdata_mapper:read</privilege>
        <privilege>topdata_mapper:update</privilege>
    </privileges>
</acl>
